/* Mobile Styling */

#mobile-nav {
	display: none;
}

.slicknav_menu {
	display: none;
}

@media screen and (max-width: 1140px) {
	
	.grid {
	    width: 1000px;
	}
}

@media screen and (max-width: 1000px) {
	
	.grid {
	    padding: 0px 20px;
	    width: auto;
	}
}

@media screen and (max-width: 740px) {
	
	.slicknav_menu {
		display: block;
	}

	.navigation {
		display: none;
	}

	.footer .navigation {
		display: block;
	}

	.main-header h1 {
	    width: 100%;
	}

	.main-header h1 a {
		margin: 0 auto;
	}
}

@media screen and (max-width: 665px) {
	
	.left-content {
		width: 100%;
		margin-bottom: 20px;
		border-bottom: 1px solid rgb(243, 243, 243);
		padding-bottom: 20px;
	}

	.right-content {
		width: 100%;
	}

	/* Footer */

	.footer .navigation {
		display: none;
	}

}

















